<div class="container">
    <div class="row justify-content-center">

        <% if (success && success.length) { %>
            <div class="alert alert-success alert-dismissible fade show col col-8 ofset-2" role="alert">
                <%= success %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>

        <% if (error && error.length) { %>
            <div class="alert alert-danger alert-dismissible fade show col col-8 ofset-2" role="alert">
                <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        
    </div>
</div>