<div class="custom_footer_css container-fluid d-flex flex-column justify-content-center align-items-center p-2">
    <div class="icons m-1 fs-5">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram mx-2"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="text m-1">
        &copy; PlacePort Private Limited
    </div>
    <div class="text m-1">
        PrivacyTerms
    </div>
</div>