<nav class="navbar navbar-expand bg-body-light bg-white custom-css-category-nav">
    <div class="container">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <div class="navbar-nav overflow-auto">
                <a href="/listing?category=Trending" class="nav-link"><i class="fa-solid fa-fire"></i>Trending</a>
                <a href="/listing?category=Islands" class="nav-link"><i class="fa-solid fa-mountain-sun"></i>Islands</a>
                <a href="/listing?category=Farms" class="nav-link"><i class="fa-solid fa-tractor"></i>Farms</a>
                <a href="/listing?category=Beachfront" class="nav-link"><i
                        class="fa-solid fa-umbrella-beach"></i>Beachfront</a>
                <a href="/listing?category=Rooms" class="nav-link"><i class="fa-solid fa-house-flag"></i>Rooms</a>
                <a href="/listing?category=OMG!" class="nav-link"><i class="fa-solid fa-shuttle-space"></i>OMG!</a>
                <a href="/listing?category=Castles" class="nav-link"><i
                        class="fa-brands fa-fort-awesome"></i>Castles</a>
                <a href="/listing?category=Camping" class="nav-link"><i class="fa-solid fa-campground"></i>Camping</a>
                <a href="/listing?category=Lake" class="nav-link"><i class="fa-solid fa-water"></i>Lake</a>
                <a href="/listing?category=Design" class="nav-link"><i class="fa-solid fa-chess-rook"></i>Design</a>
                <a href="/listing?category=Caves" class="nav-link"><i class="fa-solid fa-igloo"></i>Caves</a>
                <a href="/listing?category=New" class="nav-link"><i class="fa-solid fa-key"></i>New</a>
                <a href="/listing?category=Mansions" class="nav-link"><i class="fa-solid fa-house-tsunami"></i>Mansions</a>
                <a href="/listing?category=Play" class="nav-link"><i class="fa-solid fa-baseball-bat-ball"></i>Play</a>
                <a href="/listing?category=Desert" class="nav-link"><i class="fa-solid fa-stroopwafel"></i>Desert</a>
            </div>
            <div class="navbar-nav border px-4 py-2 rounded-2 mb-3 ms-3 d-md-block d-none">
                <div class="form-check form-check-reverse form-switch">
                    <input name="taxSwitch" class="taxSwitch form-check-input" type="checkbox" role="switch"
                        id="flexSwitchCheckDefault">
                    <label class="form-check-label me-1" for="flexSwitchCheckDefault">Display before total taxes</label>
                </div>
            </div>
        </div>
    </div>
</nav>