<% layout('/layouts/boilerplate') %>

    <div class="container d-flex justify-content-center custom_newPlace_post col-lg-7 col-md-8 offset-md-2">
        <form class="custom_newPlace_post needs-validation" novalidate action="/listing/new" method="post"
            enctype="multipart/form-data">

            <h1 class="heading">Post Your Place</h1>

            <div class="mb-3">
                <label for="titleNewPlacePost" class="form-label">Title</label>
                <input type="text" name="hotelTitle" class="form-control" placeholder="Enter the title of your place"
                    id="titleNewPlacePost" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter Title of your Place
                </div>
            </div>

            <div class="mb-3">
                <label for="descriptionNewPlacePost" class="form-label">Description</label>
                <textarea name="hotelDescription" type="text" class="form-control"
                    placeholder="Enter the Description of your place" id="descriptionNewPlacePost" rows="3"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter Description of your Place
                </div>
            </div>

            <!-- <div class="mb-3">
                <label for="imageNewPlacePost" class="form-label">Image Link</label>
                <input name="imgUrl" type="text" class="form-control" placeholder="Enter the Image Link of your place"
                    id="imageNewPlacePost">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->

            <div class="mb-3">
                <label for="imageNewPlacePost" class="form-label">Upload Image</label>
                <input name="image" type="file" class="form-control" id="imageNewPlacePost" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4 mb-3">
                    <label for="priceNewPlacePost" class="form-label">Price</label>
                    <input name="hotelPrice" type="number" class="form-control"
                        placeholder="Enter the Price of your place" id="priceNewPlacePost" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter valid Price of your Place
                    </div>
                </div>

                <div class="col-sm-8 mb-3">
                    <label for="hotelCountry" class="form-label">Country</label>
                    <input name="hotelCountry" type="text" class="form-control"
                        placeholder="Enter the Location of your place" id="hotelCountry" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Location of your Place
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" name="category" id="category" aria-label="Default select example">
                        <option value="New" selected>New</option>
                        <option value="Trending">Trending</option>
                        <option value="Islands">Islands</option>
                        <option value="Farms">Farms</option>
                        <option value="Beachfront">Beachfront</option>
                        <option value="Rooms">Rooms</option>
                        <option value="OMG!">OMG!</option>
                        <option value="Castles">Castles</option>
                        <option value="Camping">Camping</option>
                        <option value="Lake">Lake</option>
                        <option value="Design">Design</option>
                        <option value="Caves">Caves</option>
                        <option value="Mansions">Mansions</option>
                        <option value="Play">Play</option>
                        <option value="Desert">Desert</option>
                    </select>
                </div>

            </div>

            <div class="mb-3">
                <label for="hotelLocation" class="form-label">Location</label>
                <input name="hotelLocation" type="text" class="form-control"
                    placeholder="Enter the Location of your place" id="hotelLocation" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter Location of your Place
                </div>
            </div>

            <button class="btn btn-primary my-3">Post Place</button>
        </form>
    </div>