<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/allListingPage.css">
</head>

<body>
    <!-- Navbar  -->
    <navbar class="nav">
        <div class="logoSection">
            <div class="logo"><i class="fa-brands fa-airbnb"></i></div>
            <div class="logoText">airbnb</div>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listing">AllListing</a></li>
            <li><a href="/listing/new">airbnb your home</a></li>
        </ul>
    </navbar>
    <!-- main body section -->
    <div class="container">

        <div class="ListsHeading">
            <h1>All Listings</h1>
        </div>
        <div class="allLists">
            <% allLists.forEach(item=> { %>
                <a href="/listing/<%= item._id %>">
                    <div class="box">
                        <img src="<%= item.imgUrl %>" alt="image">
                        <p class="location">
                            <%= item.hotelLocation %>
                        </p>
                        <p class="price">₹<%= item.hotelPrice %> / night</p>
                    </div>
                </a>
                <% }) %>
        </div>

    </div>
    <!-- footer section  -->
    <footer class="footer">

    </footer>
</body>

</html>