<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listing</title>
    <link rel="stylesheet" href="/css/allListingPage.css">
</head>
<body>
    <!-- Navbar  -->
    <navbar class="nav">
        <div class="logoSection">
            <div class="logo"></div>
            <div class="logoText">airbnb</div>
        </div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">AllListing</a></li>
            <li><a href="">airbnb your home</a></li>
        </ul>
    </navbar>
    <!-- main body section -->
    <div class="container">
        Hello from here
    </div>
    <!-- footer section  -->
    <footer class="footer">

    </footer>
</body>
</html>