<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/indivisualList.css">
</head>

<body>
    <!-- Navbar  -->
    <navbar class="nav">
        <div class="logoSection">
            <div class="logo"><i class="fa-brands fa-airbnb"></i></div>
            <div class="logoText">airbnb</div>
        </div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">AllListing</a></li>
            <li><a href="">airbnb your home</a></li>
        </ul>
    </navbar>
    <!-- main body section -->
    <div class="container">
        <div class="box">
            <img src="<%= listItem.imgUrl %>" alt="" class="image">
            <div class="hotelDescription"><%= listItem.hotelDescription %></div>
            <div class="hotelPrice">₹<%= listItem.hotelPrice %> \ night</div>
            <div class="hotelLocation">
                <%= listItem.hotelLocation %>
            </div>
            <button class="editBtn">Edit</button>
            <button class="deleteBtn">Delete</button>
        </div>
    </div>
    <!-- footer section  -->
    <footer class="footer">

    </footer>
</body>

</html>