<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Your Place</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/editList.css">
</head>

<body>
    <!-- Navbar  -->
    <navbar class="nav">
        <div class="logoSection">
            <div class="logo"><i class="fa-brands fa-airbnb"></i></div>
            <div class="logoText">airbnb</div>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listing">AllListing</a></li>
            <li><a href="/listing/new">airbnb your home</a></li>
        </ul>
    </navbar>
    <!-- main body section -->
    <div class="container">
        <h1 class="heading">Post Your Place</h1>
        <form action="/listing/new" method="post">

            <label for="">Title</label>
            <input type="text" name="hotelTitle" placeholder="Enter the title of your place" required>

            <label for="">Description</label>
            <textarea type="text" name="hotelDescription" placeholder="Share some details about your place" rows="3"
                required></textarea>

            <label for="">Image Link</label>
            <input type="text" name="imgUrl" placeholder="Past you image link here" required>

            <div class="mearg">
                <div class="priceInputSection">
                    <label for="" class="priceLabel">Price</label>
                    <div class="combine">
                        <div class="rupee">₹</div><input name="hotelPrice" class="priceInput" type="number"
                            placeholder="Price" required>
                    </div>
                </div>
                <div class="locationInputSection">
                    <label for="">Location</label>
                    <input class="locationInput" name="hotelLocation" type="text" placeholder="Location of your Home"
                        required>
                </div>
            </div>

            <div class="editBtn">
                <button class="edit">Post Place</button>
            </div>

        </form>

    </div>
    <!-- footer section  -->
    <footer class="footer">

    </footer>
</body>

</html>