/* style of all listings */

.custom_css_card a {
    text-decoration: none;
    color: black;
}

.custom_css_card .card {
    background: none;
    max-height: 370px;
    border: 0;
}

.custom_css_card .card img {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.custom_css_card .card .card-body {
    padding-left: 0;
}

.custom_css_card .card .card-body .card-text {
    margin: 5px 0;
}