:root {
    --var--red: #FF5A5F;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar style  */

.navbar-brand {
    color: var(--var--red);
    font-size: 2rem;
    margin-left: 2.5rem;
}

.navbar-brand:hover {
    color: var(--var--red);
}

.navbar-nav a {
    border-radius: 20px;
    margin: 0.5rem;
    color: black;
}

.navbar-nav a:hover {
    background-color: rgb(245, 245, 245);
}

.signup-custom-css,
.login-custom-css {
    flex-grow: 1;
}